<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Supervisory Verification List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> <!-- Include DataTables JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> <!-- Include DataTables CSS -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body>
    <div th:insert="headerImage"></div>
    <div th:insert="navBarTop"></div>
    <div th:insert="headerMessage"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="card card-body" style="background-color: #e6e2d3;">

                    <form action="#" th:action="@{/getSuperverify}" method="post">
                        <div class="card-title">
                            <h4 style="background-color: darkgreen; color: white; width: auto; text-align: center;padding: 7px;border: none;border-radius: 5px;">
                                Supervisory Verification List</h4>
                            <br />
                        </div>
                        <div align="center" id="divPrint">
                            <table align="center" style="width:100%; background-color:  #e6e2d3">
                                <tr>
                                    <td class="tdnum" colspan="2"> <b>Crop Year <font color="red">*
                                                </font>:</b> </td>
                                    <td>
                                        <select name="cropyear" id="cropyear" style="width: 200px">
                                            <option value='' th:selected="0">------Select Crop Year--------</option>
                                            <option th:each="cropyr: ${cropyears}" th:value="${cropyr.seasonvalue}"
                                                th:text="${cropyr.cropyear}"></option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" colspan="3"> <input type="submit" value="Submit" class="btn btn-success mt-3"></td>
                                </tr>

                            </table>
                            <br><br>
                            <th class="heading" colspan="3"><b> Supervisory Check Records Allotted &nbsp;&nbsp;
                                    &nbsp;&nbsp;</b></th>

                            </tr>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p id="displayText"></p>

    <table id="customers">
        <thead>
            <tr>
                <th> <b> S.No. </b> </th>
                <th> <b> Mandal </b> </th>
                <th> <b> Village </b> </th>
                <th> <b> Booking ID </b> </th>
                <th> <b> Khata No </b> </th>
                <th> <b> Survey No </b> </th>
                <th> <b>Cultivator Name/</br>e-Kyc Name </b> </th>
                <th> <b>Cultivator </br> Father </br> Name </b> </th>
                <th> <b> Cultivator Extent </b> </th>
                <th> <b> Crop Sown /Variety </b> </th>
                <th> <b> Sown Date </b> </th>
                <!--                    <th > <b>Area Sown </b> </th> -->
                <th> <b>Source Of</br> Irrigation </b> </th>
                <th> <b>Exception </br> Category </b> </th>
                <th> <b>Mobile No </b> </th>
                <th> <b>Entry Found </br> Correct </b> </th>
                <th> <b>Entry Found </br> InCorrect </b> </th>
                <th> <b>Remarks </b> </th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="crpreport, iterStat : ${cropreport}">
                <td th:text="${iterStat.count}"></td>

                <td th:text="${crpreport.mname}" class="text-center"></td>
                <td th:text="${crpreport.vname}" class="text-center"></td>
                <td th:text="${crpreport.bookingid}" class="text-center"></td>
                <td th:text="${crpreport.kh_no}" class="text-center"></td>
                <td th:text="${crpreport.cr_sno}" class="text-center"></td>
                <td th:text="${crpreport.oc_name}" class="text-center"></td>
                <td th:text="${crpreport.oc_fname}" class="text-center"></td>
                <td th:text="${crpreport.occupant_extent}" class="text-center"></td>
                <td th:text="${crpreport.varietyname}" class="text-center"></td>
                <td th:text="${crpreport.cr_sow_date}" class="text-center"></td>
                <td th:text="${crpreport.wsrcdesc}" class="text-center"></td>
                <td th:text="${crpreport.exception_type}" class="text-center"></td>
                <td th:text="${crpreport.mobileno}" class="text-center"></td>
                <!--                <td th:text="${crpreport.kh_no}"></td>-->
                <!--                <td th:text="${crpreport.cr_sno}"></td>-->
                <!--                <td th:text="${crpreport.reason}"></td>-->
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#customers').DataTable(); // Initialize DataTables on your table
        });
    </script>
</body>

</html>
