<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
	<body>
		<div class="heading" style="text-align:center;font-size: 150%;"><b> Validation Of Mobile No Report</b></div>

		<form action="#" method="POST">
			<div align="center" id="divPrint" class="table table-hover ">
				<table style="width: 60%;">
					<thead align="center">
					<tr>
                        <th>SNo</th>
                        <th> District </th>
                        <th> RbkName </th> 
                        <th> No of Record Pushed For Updation</th>                        
                        <th>  No of Record Updated</th>
                        <th> Pending</th>
                    </tr>
					</thead>

					<tbody>
						<tr th:each="detai ,stat: ${abs}">
							<td align="center" th:text="${stat.index + 1}">1</td>
							<td align="left" th:text="${detai.dname}"></td>
							<td align="left" th:text="${detai.rbkname}"></td>
							<td align="right" th:text="${detai.totpushed}"></td>
							<td align="right" th:text="${detai.updcnt}"></td>
							<td align="right" th:text="${detai.totpushed - detai.updcnt}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>

		</div>
<!--		<div align="center">-->
<!--			<a th:href="@{/}"> Back</a>-->

<!--		</div>-->
	</body>

</html>