<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>


	</head>
	
	<style>
		#loading {
    	position: fixed;
    	top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	padding: 20px;
    	border-radius: 5px;
	}
	</style>
	
	<script>
// 	VALIDATION
	function validateForm() {
    var cropyear = document.getElementById("cropyear").value;

    if (cropyear == "") {
	    $('#loading').hide();

        alert("Please select a Crop Year");
        return false;
    }
    return true;
}


		$(document).ready(function () {
			//alert("get crop year");
			$.ajax({
				type: "get",
				url: "./util/getAllSeason",
				cache: false,
				timeout: 600000,
				success: function (resp) {
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#cropyear").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		});

		var sno = 0;
		function getData() {
			$("#databody").empty();
		    $('#loading').show();
		    if (validateForm()) {
			var cropYear = $("#cropyear").val();
			$.ajax({
				type: "get",
				url: "./util/getdistvaa?cropyear=" + cropYear,
				cache: false,
				timeout: 600000,
				success: function (resp) {
				    $('#loading').hide();


					var totfarmercount = 0, totalbookings = 0, totextent = 0, vaaauthcount = 0,
						vaaauthextent = 0, vroauthcount = 0, vroauthextent = 0, ekycfarmercount = 0,
						totekycbookings = 0, ekycbookedext = 0;

					for (var j = 0; j < resp.length; j++) {
						sno = sno + 1;
						var bean = resp[j];

						totfarmercount = totfarmercount + parseFloat(bean.totfarmercount);
						totalbookings = totalbookings + parseFloat(bean.totalbookings);
						totextent = totextent + parseFloat(bean.totextent);
						totextent1 = totextent.toFixed(2);
						
						vaaauthcount = vaaauthcount + parseFloat(bean.vaaauthcount);
						vaaauthextent = vaaauthextent + parseFloat(bean.vaaauthextent);
						vaaauthextent1 = vaaauthextent.toFixed(2);
						
						vroauthcount = vroauthcount + parseFloat(bean.vroauthcount);
						vroauthextent = vroauthextent + parseFloat(bean.vroauthextent);
						vroauthextent1 = vroauthextent.toFixed(2);
						
						ekycfarmercount = ekycfarmercount + parseFloat(bean.ekycfarmercount);
						totekycbookings = totekycbookings + parseFloat(bean.totekycbookings);
						ekycbookedext = ekycbookedext + parseFloat(bean.ekycbookedext);
						ekycbookedext1 = ekycbookedext.toFixed(2);

						$("#databody").append('<tr>'
							+ '<td>' + sno + '</td>'
							+ '<td>' + bean.dname + '</td>'
							+ '<td>' + bean.totfarmercount + '</td>'
							+ '<td>' + bean.totalbookings + '</td>'
							+ '<td>' + bean.totextent + '</td>'
							+ '<td>' + bean.vaaauthcount + '</td>'
							+ '<td>' + bean.vaaauthextent + '</td>'
							+ '<td>' + bean.vroauthcount + '</td>'
							+ '<td>' + bean.vroauthextent + '</td>'
							+ '<td>' + bean.ekycfarmercount + '</td>'
							+ '<td>' + bean.totekycbookings + '</td>'
							+ '<td>' + bean.ekycbookedext + '</td>'
							+ '</tr>');
					}
					$("#databody").append('<tr style="fontsize:200px; font-weight: bold;">'
						+ '<td colspan = "2">TOTAL<b></b></td>'
						+ '<td>' + totfarmercount + '</td>'
						+ '<td>' + totalbookings + '</td>'
						+ '<td>' + totextent1 + '</td>'
						+ '<td>' + vaaauthcount + '</td>'
						+ '<td>' + vaaauthextent1 + '</td>'
						+ '<td>' + vroauthcount + '</td>'
						+ '<td>' + vroauthextent1 + '</td>'
						+ '<td>' + ekycfarmercount + '</td>'
						+ '<td>' + totekycbookings + '</td>'
						+ '<td>' + ekycbookedext1 + '</td>'
						+ '</tr>')
				}
			});
		}
	}
	</script>
	<style>
		table thead {
			background-color: grey;
		}
	</style>

	<body>
		<div class="heading" colspan="20" style="text-align:center;background-color: white;font-size: 20px;"><b>
				District Wise Report on VAA, VRO, Farmer eKyc
				Authenication </b>
		</div>
		<br>
		
		<!-- LoadingSpinner -->	
		<div id="loading" style="display: none;">
       	Loading...
		</div>
		
		<div align="center">
			<form>
				<table id="ObjEntryTable">
					<tr>
						<td colspan="3"></td>
					</tr>
					<tr>
						<td align="right" width="30%"><b>Crop Year</b></td>

						<td align="left">
							<select id="cropyear" name="cropyear" style="width: 200px">
							<option value="">----Select----</option></select>
						</td>
					</tr>
				</table>
				<div colspan="3" align="center" style="padding-top:10px;padding-bottom:10px;">
					<button type="button" id="btnSubmit" class="btn btn-primary" value="Submit"
						onclick="return getData();">Submit</button>
				</div>
			</form>
		</div>

		<div class="container">
			<form method="post">
				<div align="center" id="divPrint" class="table table-hover ">
					<table id="tableStkId">
						<thead>
							<tr>
								<th rowspan="2"> <b> Sl.No </b> </th>
								<th rowspan="2"> <b> District Name </b> </th>
								<th rowspan="2"> <b> No. of Farmers </b> </th>
								<th rowspan="2"> <b> Total Bookings </b> </th>
								<th rowspan="2"> <b> Total Extent (acres) </b> </th>
								<th colspan="2"> <b> VAA Authentication Completed </b> </th>
								<th colspan="2"> <b> VRO Authentication Completed </b> </th>
								<th colspan="3"> <b> e-KYC Done </b> </th>
							</tr>
							<tr>
								<th>Bookings </th>
								<th> Acres </th>

								<th>Bookings </th>
								<th> Acres </th>

								<th>Farmers </th>
								<th>Bookings </th>
								<th> Acres </th>
							</tr>
						</thead>

						<tbody id="databody"> </tbody>
					</table>
				</div>
			</form>
			<div align="center" style="color:black;margin-top: 20px;">
				<input class="btn btn-primary" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
					id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
				<input class="btn btn-primary" type="button" onclick="tableToExcel('tableStkId', 'Abstract')"
					value="Excel">
				<!--			<input  class="btn btn-primary" type="button" value="Back" onclick="goBack()" />-->
			</div>
		</div>
	</body>

</html>