<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>


	</head>
	
	<style>
		#loading {
    	position: fixed;
    	top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	padding: 20px;
    	border-radius: 5px;
	}
	</style>
	
	<script>
	// 	VALIDATION
	function validateForm() {
    var cropyear = document.getElementById("cropyear").value;

    if (cropyear == "") {
	    $('#loading').hide();

        alert("Please select a Crop Year");
        return false;
    }
    return true;
}
	
	
	
		$(document).ready(function () {
			$.ajax({
				type: "get",
				url: "./util/getAllSeason",
				cache: false,
				timeout: 600000,
				success: function (resp) {
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#cropyear").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		});

		
		function getData() {
			$("#databody").empty();
		    $('#loading').show();
			var sno = 0;
			if (validateForm()) {
			var cropYear = $("#cropyear").val();
			$.ajax({
				type: "get",
				url: "./util/getcrdistvwise?cropyear=" + cropYear,
				cache: false,
				timeout: 600000,
				success: function (resp) {
				    $('#loading').hide();

					var inf = 0, ine = 0, sf = 0, se = 0, mxf = 0, me = 0, b = 0, b1 = 0,
						a = 0, a1 = 0;

					for (var j = 0; j < resp.length; j++) {
						sno = sno + 1;
						var bean = resp[j];
						inf = inf + parseFloat(bean.inf);
						ine = ine + parseFloat(bean.ine);
						ine1 = ine.toFixed(2);
						
						sf = sf + parseFloat(bean.sf);
						se = se + parseFloat(bean.se);
						se1 = se.toFixed(2);
						
						mxf = mxf + parseFloat(bean.mxf);
						me = me + parseFloat(bean.me);
						me1 = me.toFixed(2);
						
						a = parseFloat(bean.inf) + parseFloat(bean.sf) + parseFloat(bean.mxf);
						a1 = parseFloat(bean.ine) + parseFloat(bean.se) + parseFloat(me);
						a11 = a1.toFixed(2);
						
						b = b + a;
						
						b1 = b1 + a1;
						b11 = b1.toFixed(2);

						$("#databody").append('<tr>'
							+ '<td>' + sno + '</td>'
							+ '<td>' + bean.wbedname + '</td>'
							+ '<td>' + bean.wbemname + '</td>'
							+ '<td>' + bean.wbevname + '</td>'
							+ '<td>' + bean.inf + '</td>'
							+ '<td>' + bean.ine + '</td>'
							+ '<td>' + bean.sf + '</td>'
							+ '<td>' + bean.se + '</td>'
							+ '<td>' + bean.mxf + '</td>'
							+ '<td>' + bean.me + '</td>'
							+ '<td>' + a + '</td>'
							+ '<td>' + a11 + '</td>'
							+ '</tr>');


					}
					$("#databody").append('<tr style="fontsize:200px; font-weight: bold;">'
						+ '<td colspan = "4x">TOTAL<b></b></td>'
						+ '<td>' + inf + '</td>'
						+ '<td>' + ine1 + '</td>'
						+ '<td>' + sf + '</td>'
						+ '<td>' + se1 + '</td>'
						+ '<td>' + mxf + '</td>'
						+ '<td>' + me1 + '</td>'
						+ '<td>' + b + '</td>'
						+ '<td>' + b11 + '</td>'

						+ '</tr>')
				}
			});
		}
	}
	</script>
	<style>
		table thead {
			background-color: grey;
		}
	</style>

	<body>
		<div class="heading" colspan="20" style="text-align:center;background-color: white;font-size: 20px;"><b>First
				Crop Details</b>
		</div>
		<br>
		
		<div id="loading" style="display: none;">
       	Loading...
		</div>


		<div align="center">
			<form>
				<table id="ObjEntryTable">
					<tr>
						<td colspan="3"></td>
					</tr>
					<tr>
						<td align="right" width="30%"><b>Crop Year</b></td>

						<td align="left">
							<select id="cropyear" name="cropyear" style="width: 200px">
							<option value="">----Select----</option></select>
						</td>
					</tr>
				</table>
				<div colspan="3" align="center" style="padding-top:10px;padding-bottom:10px;">
					<button type="button" id="btnSubmit" class="btn btn-primary" value="Submit"
						onclick="return getData();">Submit</button>
				</div>
			</form>
		</div>

		<div>
			<form name="unlockreport" method="post">
				<div id="divPrint" class="table table-hover ">
					<table id="tableStkId" align="center" style="width: 100%;">
						<thead style="color: white;">
							<tr>
								<th rowspan="2"> <b> Sl.No </b> </th>
								<th rowspan="2" style="width: 20%;"> <b> District </b> </th>
								<th rowspan="2" style="width: 15%;"> <b> Mandal </b> </th>
								<th rowspan="2" style="width: 15%;"> <b> Village </b> </th>
								<th colspan="2"> <b> Inter Crop </b> </th>
								<th colspan="2"> <b> Single </b>
								<th colspan="2"> <b> Mixed Crop </b> </th>
								<th colspan="2"> <b> Total </b> </th>
							</tr>

							<tr>
								<th> Farmers </th>
								<th> Extent (Acres) </th>
								<th> Farmers </th>
								<th> Extent (Acres) </th>
								<th> Farmers </th>
								<th> Extent (Acres) </th>
								<th> Farmers </th>
								<th> Extent (Acres) </th>
							</tr>
						</thead>
						<tbody id="databody"></tbody>
					</table>
				</div>
			</form>


			<div align="center" style="color:black">
				<input class="btn btn-primary" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
					id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
				<input class="btn btn-primary" type="button" onclick="tableToExcel('tableStkId', 'Abstract')"
					value="Excel">
				<!--			<input  class="btn btn-primary" type="button" value="Back" onclick="goBack()" />-->
			</div>
		</div>
		</div>
	</body>

</html>