<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>



	</head>
	<style>
		#loading {
    	position: fixed;
    	top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	padding: 20px;
    	border-radius: 5px;
	}
	</style>
	
	<script>
// 	VALIDATION
	function validateForm() {
    var cropyear = document.getElementById("cropyear").value;

    if (cropyear == "") {
	    $('#loading').hide();

        alert("Please select a Crop Year");
        return false;
    }
    return true;
}


		$(document).ready(function () {
			//alert("get crop year");
			$.ajax({
				type: "get",
				url: "./util/getAllSeason",
				cache: false,
				timeout: 600000,
				success: function (resp) {
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#cropyear").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		});

		function getData() {
			$("#databody").empty();
		    $('#loading').show();
		    var sno = 0;
		    if (validateForm()) {
			var cropYear = $("#cropyear").val();
			$.ajax({
				type: "get",
				url: "./util/getnormalabs?cropyear=" + cropYear,
				cache: false,
				timeout: 600000,
				success: function (resp) {
				    $('#loading').hide();
					for (var j = 0; j < resp.length; j++) {
						sno = sno + 1;
						var bean = resp[j];
						$("#databody").append('<tr>'
							+ '<td>' + sno + '</td>'
							+ '<td>' + bean.dname + '</td>'
							+ '<td>' + bean.normalarea + '</td>'
							+ '</tr>');
					}
				}
			});
		}
	}
	</script>

	<body>
			<div class="heading" style="text-align:center;font-size: 150%;"><b> District Wise Normal Areas Entry</b> </div>

		<div id="loading" style="display: none;">
       	Loading...
		</div>
		
		<div align="center">
			<form>
				<table id="ObjEntryTable">
					<tr>
						<td colspan="3"></td>
					</tr>
					<tr>
						<td align="right" width="30%"><b>Crop Year</b></td>

						<td align="left">
							<select id="cropyear" name="cropyear" style="width: 200px">
							<option value="">----Select----</option></select>
						</td>
					</tr>
				</table>
				<div colspan="3" align="center" style="padding-top:10px;padding-bottom:10px;">
					<button type="button" id="btnSubmit" class="btn btn-primary" value="Submit"
						onclick="return getData();">Submit</button>
				</div>
			</form>
		</div>

		<form action="#" method="POST">
			<div align="center" id="divPrint" class="table table-hover">
				<table style="width: 40%;">
					<thead align="center">
						<div style="font-weight: bolder;">
							<th> <b> Sno </b> </th>
							<th> <b> District </b> </th>
							<th> <b> Normal Areas </b> </th>
						</div>
					</thead>

					<tbody id="databody"></tbody>
				</table>
			</div>
		</form>


		</div>
		<div align="center">
			<a th:href="@{/}"> Back</a>

		</div>
	</body>

</html>