<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

<!--	<div th:insert="navBarTop"></div>-->
<!-- 	<div th:insert="headerMessage"></div> -->
<!--<div style="font-size: 150%;font-weight: bold;padding-left: 40%">Welcome To M Jagga Rao ADMINISTRATOR</div><br>-->

<style>
		#loading {
    	position: fixed;
    	top: 60%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	padding: 20px;
    	border-radius: 5px;
	}
	</style>
	
	<script>
// 	VALIDATION
	function validateForm() {
    var cropyear = document.getElementById("cropyear").value;

    if (cropyear == "") {
	    $('#loading').hide();

        alert("Please select a Crop Year");
        return false;
    }
    return true;
}


		document.addEventListener("DOMContentLoaded", function () {
			var rows = document.querySelectorAll('tbody tr');
			var total = 0;
			rows.forEach(function (row) {
				var ported = parseFloat(row.children[3].textContent);
				total += ported;
			});
			document.getElementById('totalported').textContent = total;
		});
	</script>


	</head>
	<script>
		$(document).ready(function () {
			//alert("get crop year");
			$.ajax({
				type: "get",
				url: "./util/getAllSeason",
				cache: false,
				timeout: 600000,
				success: function (resp) {
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#cropyear").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		});

		var sno = 0;
		function getData() {
			$("#databody").empty();
		    $('#loading').show();
		    if (validateForm()) {
			var cropYear = $("#cropyear").val();
			$.ajax({
				type: "get",
				url: "./util/getsuperchckdistwise?cropyear=" + cropYear,
				cache: false,
				timeout: 600000,
				success: function (resp) {
					$('#loading').hide();
					for (var j = 0; j < resp.length; j++) {
						sno = sno + 1;
						var bean = resp[j];
						$("#databody").append('<tr>'
							+ '<td>' + sno + '</td>'
							+ '<td>' + bean.dname + '</td>'
							+ '<td>' + bean.dao_allotted + '</td>'
							+ '<td>' + bean.dao_approved + '</td>'
							+ '<td>' + bean.dao_rejected + '</td>'

							+ '<td>' + bean.dho_allotted + '</td>'
							+ '<td>' + bean.dho_approved + '</td>'
							+ '<td>' + bean.dho_rejected + '</td>'

							+ '<td>' + bean.rdo_allotted + '</td>'
							+ '<td>' + bean.rdo_approved + '</td>'
							+ '<td>' + bean.rdo_rejected + '</td>'

							+ '<td>' + bean.ada_allotted + '</td>'
							+ '<td>' + bean.ada_approved + '</td>'
							+ '<td>' + bean.ada_rejected + '</td>'

							+ '<td>' + bean.tah_allotted + '</td>'
							+ '<td>' + bean.tah_approved + '</td>'
							+ '<td>' + bean.tah_rejected + '</td>'

							+ '<td>' + bean.mao_allotted + '</td>'
							+ '<td>' + bean.mao_approved + '</td>'
							+ '<td>' + bean.mao_rejected + '</td>'

							+ '<td>' + bean.ho_allotted + '</td>'
							+ '<td>' + bean.ho_approved + '</td>'
							+ '<td>' + bean.ho_rejected + '</td>'

							+ '<td>' + bean.dc_allotted + '</td>'
							+ '<td>' + bean.dc_approved + '</td>'
							+ '<td>' + bean.dc_rejected + '</td>'

							+ '<td>' + bean.jc_allotted + '</td>'
							+ '<td>' + bean.jc_approved + '</td>'
							+ '<td>' + bean.jc_rejected + '</td>'

							+ '<td>' + bean.hod_allotted + '</td>'
							+ '<td>' + bean.hod_approved + '</td>'
							+ '<td>' + bean.hod_rejected + '</td>'
							+ '</tr>');
					}
				}
			});
		}
	}
	</script>
	<style>
		table thead {
			background-color: grey;
		}
	</style>

	<body>
		<div class="heading" colspan="20" style="text-align:center;background-color: white;font-size: 20px;">
			<b>District-Wise Report On Progress in Supervisory Check- Agri-Horti& Revenue Departments </b>
		</div>
		<br>
		<!-- LoadingSpinner -->	
		<div id="loading" style="display: none;">
       	Loading...
		</div>
		
		<div align="center">
			<form>
				<table id="ObjEntryTable">
					<tr>
						<td colspan="3"></td>
					</tr>
					<tr>
						<td align="right" width="30%"><b>Crop Year</b></td>

						<td align="left">
							<select id="cropyear" name="cropyear" style="width: 200px">
							<option value="">----Select----</option></select>
						</td>
					</tr>
				</table>
				<div colspan="3" align="center" style="padding-top:10px;padding-bottom:10px;">
					<button type="button" id="btnSubmit" class="btn btn-primary" value="Submit"
						onclick="return getData();">Submit</button>
				</div>
			</form>
		</div>
		<div>
			<form method="post">
				<div align="center" id="divPrint">
					<table id="tableStkId" align="center" class="table table-striped border border-secondary">
						<thead style="color: black;">
							 </tr>
                        <tr>
                            <th colspan="2"></th><th colspan="12" style="background-color: #d5ffd5"><font color="#145A32" size="4pt">AGRICULTURE</font></th>
                            <th colspan="8" style="background-color: #c4def1"><font color="blue" size="4pt">HORTICULTURE</font></th>
                            <th colspan="8" style="background-color: #F5CBA7"><font color="#BA4A00" size="4pt" >REVENUE</font></th>
                            <th colspan="4" style="background-color: #d4ccb0"><font size="4pt">Joint Collector</font></th>
                            <th colspan="4" style="background-color: #EAF2F8"><font size="4pt"> Collector</font></th>
                            <th colspan="4" style="background-color: #EAF2F8"><font size="4pt"> HOD</font></th>

                        </tr>
                        <tr>       
                            <th colspan="2">Supervisory Officer</th>
                            <th colspan="4" style="background-color: #d5ffd5;font-display: black;">DAO</th> 
                            <th colspan="4" style="background-color: #d5ffd5">ADA</th>
                            <th colspan="4" style="background-color: #d5ffd5">MAO</th>
                            <th colspan="4" style="background-color: #c4def1">DHO</th>
                            <th colspan="4" style="background-color: #c4def1">HO</th>
                            <th colspan="4" style="background-color: #F5CBA7">RDO</th>
                            <th colspan="4" style="background-color: #F5CBA7">TAH</th>           
                            <th colspan="4" style="background-color: #d4ccb0">JC</th>
                            <th colspan="4" style="background-color: #EAF2F8">DC</th>
                            <th colspan="4" style="background-color: #EAF2F8">HOD</th>

                        </tr>
                        <tr>
                            <th > <b> S.No. </b> </th>
                            <th > <b> District </b> </th>
                            <th style="background-color: #d5ffd5"> <b> Allotted</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #d5ffd5"> <b> % </th>
                            <th style="background-color: #d5ffd5"> <b> Allotted</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #d5ffd5"> <b> % </th>
                            <th style="background-color: #d5ffd5"> <b> Allotted</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #d5ffd5"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #d5ffd5"> <b> % </th>
                            <th style="background-color: #c4def1"> <b> Allotted</b> </th>
                            <th style="background-color: #c4def1"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #c4def1"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #c4def1"> <b> % </th>
                            <th style="background-color: #c4def1"> <b> Allotted</b> </th>
                            <th style="background-color: #c4def1"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #c4def1"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #c4def1"> <b> % </th>
                            <th style="background-color: #F5CBA7"> <b> Allotted</b> </th>
                            <th style="background-color: #F5CBA7"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #F5CBA7"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #F5CBA7"> <b> % </th>
                            <th style="background-color: #F5CBA7"> <b> Allotted</b> </th>
                            <th style="background-color: #F5CBA7"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #F5CBA7"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #F5CBA7"> <b> % </th>
                            <th style="background-color: #d4ccb0"> <b> Allotted</b> </th>
                            <th style="background-color: #d4ccb0"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #d4ccb0"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #d4ccb0"> <b> % </th>
                            <th style="background-color: #EAF2F8"> <b> Allotted</b> </th>
                            <th style="background-color: #EAF2F8"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #EAF2F8"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #EAF2F8"> <b> % </th>
                            <th style="background-color: #EAF2F8"> <b> Allotted</b> </th>
                            <th style="background-color: #EAF2F8"> <b> Found </br> Correct</b> </th>
                            <th style="background-color: #EAF2F8"> <b> Found </br>InCorrect </b> </th>
                            <th style="background-color: #EAF2F8"> <b> % </th>
                        </tr>
						</thead>
						<tbody id="databody">
							<!--							<tr th:each="bean : ${bse}">-->
							<!--								<td th:text="${bean.wbedname}"></td>-->
							<!--								<td th:text="${bean.bookedextent}"></td>-->
							<!--								<td th:text="${bean.vaaselectedext}"></td>-->
							<!--								<td th:text="${bean.mappedextent}"></td>-->
							<!--							</tr>-->
						</tbody>
					</table>
				</div>
			</form>
			<div align="center" style="color:black">
				<input class="btn btn-primary" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
					id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
				<input class="btn btn-primary" type="button" onclick="tableToExcel('tableStkId', 'Abstract')"
					value="Excel">
				<!--			<input  class="btn btn-primary" type="button" value="Back" onclick="goBack()" />-->
			</div>
		</div>
		</div>
	</body>

</html>