<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

<!--	<div th:insert="navBarTop"></div>-->
<!-- 	<div th:insert="headerMessage"></div> -->
<!--	<div style="font-size: 130%;font-weight: bold;padding-left: 40%;">Welcome To M Jagga Rao ADMINISTRATOR</div><br>-->


	</head>
	<script>
	// 		VALIDATION
	 function validateForm() {
	        var dcode = document.getElementById("district").value;
	        var mcode = document.getElementById("inputmcode").value;

	        // Check if District is selected
	        if (dcode === "") {
	            alert("Please select a District");
	            return false;
	        }

	        // Check if Mandal is selected
	        if (mcode === "") {
	            alert("Please select a Mandal");
	            return false;
	        }
	        return true;
	    }
	
	
	
		$(document).ready(function () {
			$("#loadingsign").hide();
			$("#databody").empty();

			//alert("get crop year");
			$.ajax({
				type: "get",
				url: "./util/getAllwbdcode",
				cache: false,
				timeout: 600000,
				success: function (resp) {
					//alert(JSON.stringify(resp));
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#district").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		});

		function getMandals() {
			var district = $("#district").val();
            $("#inputmcode").empty().append('<option value="">----Select----</option>'); // Clear and reset options

			var wbmcode = $("#inputmcode").val();

			$.ajax({
				type: "get",
				url: "./util/getAllwbmandals?wbdcode=" + district,
				cache: false,
				timeout: 600000,
				success: function (resp) {
					//alert("success=>" + JSON.stringify(resp));
					for (var j = 0; j < resp.length; j++) {
						var bean = resp[j];
						$("#inputmcode").append('<option value="' + bean.col1 + '">' + bean.col2 + '</option>');
					}
				}
			});
		}

		function getData() {
			$("#loadingsign").hide();
			$("#databody").empty();
			var sno = 0;
			 if (validateForm()) {

			var district = $("#district").val();
			var wbmcodenew = $("#inputmcode").val();
			//alert("district=============>" + district);
			//alert("mand=============>" + wbmcodenew);
			$.ajax({
				type: "get",
				url: "./util/wholemand?wbdcode=" + district + "&wbmcodenew=" + wbmcodenew,
				cache: false,
				timeout: 600000,
				success: function (resp) {
					//alert(JSON.stringify(resp));

					for (var j = 0; j < resp.length; j++) {
						sno = sno + 1;
						var bean = resp[j];

						$("#databody").append('<tr>'
							+ '<td>' + sno + '</td>'
							+ '<td>' + bean.lgdvname + '</td>'
							+ '<td>' + bean.cr_wsno + '</td>'
							+ '</tr>');
					}
				}
			});
		}
	}
	</script>
	<style>
		table thead {
			background-color: grey;
		}
	</style>

	<body>
		<div class="heading" colspan="20" style="text-align:center;background-color: white;font-size: 20px;"><b>Whole
				Wise Survey No </b>
		</div>
		<br>
				<!-- LoadingSpinner -->	
	<div id="loadingsign">
	<div class="d-flex justify-content-center" >
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
	</div>
</div>

		<div align="center">
			<form>
				<table>
					<div>
						<div> <b> District </b>
							<select id="district" name="district" style="width: 200px" onchange="return getMandals();">
								<option value="">----Select----</option>
							</select>
						</div>
					</div><br>

					<div>
						<div> <b> Mandal </b>
							<select id="inputmcode" name="mandal" style="width: 200px">
								<option value="">----Select----</option>
							</select>
						</div>
					</div>
				</table>
				<div colspan="3" align="center" style="padding-top:10px;padding-bottom:10px;">
					<button type="button" id="btnSubmit" class="btn btn-primary" value="Submit"
						onclick="return getData();">Submit</button>
				</div>
			</form>
		</div>
		<div class="container">
			<form name="unlockreport" method="post">
				<div id="divPrint" class="table table-hover">
					<table id="tableStkId" align="center" style="width: 40%;">
						<thead style="color: white;">
							<tr>
								<th> <b> S.No. </b> </th>
								<th> <b> Village </b> </th>
								<th> <b> Survey No </b> </th>

							</tr>
						</thead>
						<tbody id="databody"> </tbody>
					</table>
				</div>
			</form>
			<div align="center" style="color:black">
				<input class="btn btn-primary" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
					id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
				<input class="btn btn-primary" type="button" onclick="tableToExcel('tableStkId', 'Abstract')"
					value="Excel">
				<!--			<input  class="btn btn-primary" type="button" value="Back" onclick="goBack()" />-->
			</div>
		</div>
		</div>
	</body>

</html>