body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url('./newbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(15, 15, 15, 0.5);
}

.img-fluid {
    width: 100%;
    height: auto;
}
.tagline{
    color: white;
    margin-top: 30px;
    font-size: large;
  font-weight: lighter;
}

.custom-flexbox {
    display: flex;
    justify-content: left;
}

.custom-flexbox .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-custom {
    background-color: #078153;
    padding: 2px;
}

.nav-item {
    font-size: x-large;
    float: left;
}

nav ul li a.active {
    text-decoration: none;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.login-form {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-custom {
    background-color: white;
    height: 600px;
}

.btn-custom {
    width: 50%;
    background-color: #218C22;
}

.nav-link {
    color: white;
    float: left;
}

.text-custom {
    text-align: center;
    font-weight: medium;
    margin-bottom: 45px;
}

.foot {
    background-color: rgb(175, 203, 216);
}

@media (max-width: 576px) {
    .order-md-1 {
        order: 2;
    }

    .order-md-2 {
        order: 1;
    }
}