<div class="panel panel-primary">

    <div class="panel-body" style="max-width: 100%;overflow-x: scroll;overflow-y: auto;">

        <table id="ownerGrid" class="table table-bordered table-striped dataTable">
            <thead class="color-palette" style="background-color: #9494b8; width:98%;white-space: nowrap">
            <tr>
                <th style="color: white; width:10%;">S.No.</th>
                <th style="color: white; width:10%;">Booking Id</th>
                <th style="color: white; width:7%;">Survey No</th>
                <th style="color: white; width:7%;">Khata No</th>
                <th style="color: white; width:19%;">Pattadhar Name</th>
                <th style="color: white; width:19%;">Pattadhar Father Name</th>
                <th style="color: white; width:19%;">Existing CCRC Cultivator Name</th>
                <th style="color: white; width:19%;">Existing CCRC Cultivator Father Name</th>
                <th style="color: white; width:19%;">CCRC Cultivator Name To Be Changed</th>
                <th style="color: white; width:19%;">CCRC Cultivator Father Name To Be Changed</th>
                <th style="color: white; width:8%;">Crop Name</th>
                <th style="color: white; width:10%;">Variety Name</th>
                <th style="color: white; width:8%;">Existing Aadhaar No</th>
                <th style="color: white; width:10%;">New Aadhaar No</th>
                <th style="color: white; width:10%;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="${ebd.bookingid}" th:each="ebd, ebdStat:${ecbdList}">
                <td style="width:10%;">
                    <span th:text="${ebdStat.index+1}"></span>
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.bookingid}"></span>
                    <input type="hidden" th:value="${ebd.bookingid}" th:id="'bookingid'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.season}" th:id="'season'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.cr_sow_date}" th:id="'cr_sow_date'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.cr_no}" th:id="'cr_no'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.cropyear}" th:id="'cropyear'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.wbdcode}" th:id="'wbdcode'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.cr_crop}" th:id="'cr_crop'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.variety}" th:id="'variety'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.cr_vcode}" th:id="'cr_vcode'+${ebdStat.index}">
                    <input type="hidden" th:value="${ebd.rec_id}" th:id="'rec_id'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.cr_sno}"></span>
                    <input type="hidden" th:value="${ebd.cr_sno}"
                           th:id="'cr_sno'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.kh_no}"></span>
                    <input type="hidden" th:value="${ebd.kh_no}"
                           th:id="'kh_no'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.oc_name}"></span>
                    <input type="hidden" th:value="${ebd.oc_name}" th:id="'oc_name'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.oc_fname}"></span>
                    <input type="hidden" th:value="${ebd.oc_fname}"
                           th:id="'oc_fname'+${ebdStat.index}">
                </td>
                <td style="width:13%;">
                    <span th:text="${ebd.occupname}"></span>
                    <input type="hidden" th:value="${ebd.occupname}"
                           th:id="'occupname'+${ebdStat.index}">
                </td>
                <td style="width:15%;">
                    <span th:text="${ebd.occupfname}"></span>
                    <input type="hidden" th:value="${ebd.occupfname}"
                           th:id="'occupfname'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <input type="text" th:id="'newOccupName'+${ebdStat.index}" name="newOccupName"/>

                </td>
                <td style="width:10%;">
                    <input type="text" th:id="'newOccupFName'+${ebdStat.index}" name="newOccupFName"/>

                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.cropname}"></span>
                    <input type="hidden" th:value="${ebd.cropname}"
                           th:id="'cropname'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.varietyname}"></span>
                    <input type="hidden" th:value="${ebd.varietyname}"
                           th:id="'varietyname'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <span th:text="${ebd.cr_farmeruid}"></span>
                    <input type="hidden" th:value="${ebd.cr_farmeruid}"
                           th:id="'cr_farmeruid'+${ebdStat.index}">
                </td>
                <td style="width:10%;">
                    <input type="number" th:id="'newAadharNo'+${ebdStat.index}" name="newAadharNo"
                           onkeypress="if(this.value.length > 11) return false"/>

                </td>
					<td><a class="btn btn-success" th:onclick="updateCcrcDetails('[[${ebdStat.index}]]')">Update</a></td>
            </tr>

            </tbody>


        </table>

    </div>
</div>
