<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
   <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>Report on Forwarded Perennial Details Kharif/Rabi</title>

</head>

<body>
	<div th:insert="header"></div>
<div th:insert="headerImage"></div>
	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
	<div class="container">
		<form id="unlockreport" name="unlockreport" method="post" th:action="@{/RepPerfwd}">
			<br>
			<div class="ecropCardRbk2">
				
<h5 style="background-color:#0275d8;color: white;font-weight:bolder;font-size:large;margin-left:14%;text-align: center;"  >
					Report on Forwarded Perennial Details Kharif/Rabi</h5>				
						
			<div class="mb-3" style="padding-left: 30%;padding-top: 5%;">
				<label for="name">Crop Year:</label>
				<select id="crYear" name="crYear" class="form-select" aria-label="Crop Year" onchange="villages()">
					<option value="0">----Select----</option>
					<option th:each="emp : ${activeseason}" th:value="${emp.seasonvalue}" th:text="${emp.cropyear}">
					</option>
				</select>
			</div>
			<div class="mb-3" style="padding-left: 35%;"}>
				<label for="name"> Village:</label>
				<select id="vcode" name="vcode" class="form-select" aria-label="Select Village">
				</select>
			</div>
			<div>
				<input type="hidden" id="vscode" th:value="${#session.getAttribute('village')}" />
			</div>

			<div align="center" style="width: 50%;padding-left: 50%;">
				<button type="submit" class="btn btn-primary" onclick="return validateForm()">Submit</button>

<!--				<button type="button" class="btn btn-primary btn-block">Back</button>-->
			</div>
</div>
<!--			<h5 style="font-size:20px" colspan="20" class="heading" align="center">Report on Forwarded Perennial Details-->
<!--				Kharif/Rabi</h5>-->

			<div align="center" id="divPrint" style="margin-top: 5%;">
				<table id="tableStkId" align="center" class="table table-striped border border-secondary">
					<thead>
						<tr>
							<th> Sl.No </th>
							<th> Farmer Name </th>
							<th> Father Name </th>
							<th> Booking ID </th>
							<th> Variety </th>
							<th> Crop Name </th>
							<th> Extent </th>
							<th> Khata No </th>
							<th> Survey No </th>
							<th> Date Sown </th>
						</tr>
					</thead>
					<tbody id="databody">
						<tr th:each="bean,row: ${list}">
							<td th:text="${row.index+1}" />
							<td th:text="${bean.Oc_name}" />
							<td th:text="${bean.Oc_fname}" />
							<td th:text="${bean.Bookingid}" />
							<td th:text="${bean.Varietyname}" />
							<td th:text="${bean.Cropname}" />
							<td th:text="${bean.Cr_mix_unmix_ext}" />
							<td th:text="${bean.Kh_no}" />
							<td th:text="${bean.Cr_sno}" />
							<td th:text="${bean.Cr_sow_date}" />
						</tr>
					</tbody>
				</table>
			</div>
<div th:if="${NoRecordsFound}" align="center">
				<b style="font-size:18px;">---- No Records found-----</b>
			</div>	

		</form>
		<div align="center" style="color:black">
			<input class="btn btn-primary" name="ctl00$ContentPlaceHolder1$btnPrint" type="button"
				id="ctl00_ContentPlaceHolder1_btnPrint" onClick="javascript:CallPrint('divPrint')" value="Print">
			<input class="btn btn-primary" type="button" onclick="tableToExcel('tableStkId', 'Abstract')" value="Excel">
			<!--  <input  class="btn btn-primary" type="button" value="Back" onclick="goBack()" /> -->
		</div>
	</div>
	</div>
</body>
	<script>
		function CallPrint(strid) {
			var prtContent = document.getElementById(strid);
			var mywindow = window.open('', '', 'left=0,top=0,width=950,height=600,toolbar=1,scrollbars=1,status=1,addressbar=0');
			var is_chrome = Boolean(mywindow.chrome);
			mywindow.document.write(prtContent.innerHTML);
			mywindow.document.close(); // necessary for IE >= 10 and necessary before onload for chrome

			if (is_chrome) {
				mywindow.onload = function () { // wait until all resources loaded 
					mywindow.focus(); // necessary for IE >= 10
					mywindow.print(); // change window to mywindow
					mywindow.close(); // change window to mywindow
				};
			} else {
				mywindow.document.close(); // necessary for IE >= 10
				mywindow.focus(); // necessary for IE >= 10
				mywindow.print();
				mywindow.close();
			}

			return true;
		}

		var tableToExcel = (function () {
			var uri = 'data:application/vnd.ms-excel;base64,'
				, template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table align="center">{table}</table></body></html>'
				, base64 = function (s) {
					return window.btoa(unescape(encodeURIComponent(s)))
				}
				, format = function (s, c) {
					return s.replace(/{(\w+)}/g, function (m, p) {
						return c[p];
					})
				}
			return function (table, name) {
				if (!table.nodeType)
					table = document.getElementById(table)
				var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
				window.location.href = uri + base64(format(template, ctx))
			}
		})()
		function validateForm() {
			var cropyear = document.getElementById("crYear").value;
			var vcode = document.getElementById("vcode").value;

			// Check if both fields are selected
			if (cropyear == 0 && vcode == 0) {
				alert("Please select  Crop Year and Village.");
				return false; // Prevent form submission
			}
			else if (cropyear == 0) {
				alert("Please Select Crop Year");
				return false;
			}
			else if (vcode == 0) {
				alert("Please Select Village");
				return false;
			}
			else {
				return true;
			}

			// If both fields are selected, allow form submission
			return true;
		}

		function villages() {
			var villscode = $('#vscode').val();
			var cropyear = $('#crYear').val();
			if (cropyear !== '') {
				$.ajax({
					type: 'post',
					url: './utilRBK/Perfwds?vscode=' + villscode,
					cache: false,
					success: function (data) {
						$("#vcode").empty();
						$("#vcode").append('<option value="">--Select--</option>');
						for (var i = 0; i < data.length; i++) {
							var bean = data[i];
							$("#vcode").append('<option value="' + bean.vcode + '">' + bean.wbvname + '</option>');
						}

					},
					error: function (data) {
// 						alert("error---->" + data);

					}
				});
			}
		}           
	</script>

</html>