<!-- <!DOCTYPE html> -->
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->

<!-- <head> -->
<!-- <meta charset="UTF-8" /> -->

<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1"> -->

<!-- 	<script src="js/jquery.js"></script> -->

<!-- 	<script src="js/jquery-ui.js"></script> -->

<!-- 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

<!-- 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->

<!-- 	<link rel="stylesheet" type="text/css" href="css/style.css"> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

 <title>Selection Of Survey Numbers By VAA/VHA/VSA</title>

<script > 
  

	function show_hide_textfield() {

	var searchParam = document.getElementById("searchParam").value;

		//    alert($('#tr_surveyno'));
		$('#tr_surveyno').hide();
		$('#tr_tosurveyno').hide();
		$('#tr_fkhno').hide();
		$('#tr_tokhno').hide();
		$('#surveyno').val("");
		$('#fromKhnoId').val("");
		$('#toKhnoId').val("");
		$('#tosurveyno').val("");

		if (searchParam == "1") {
			$('#tr_surveyno').show();
			$('#tr_tosurveyno').show();

		} else if (searchParam == "2") {

			$('#tr_fkhno').show();
			$('#tr_tokhno').show();
		}
	}
	
	
	  $(function () {
          onload();
      });

      function onload() {
          show_hide_textfield();
      }
      function validateForm() {
          var cropYear = document.getElementById("crYear").value;
    
          var vcode = document.getElementById("vcode").value;
         
          var searchParam = document.getElementById("searchParam").value;

          if (cropYear ==0) {
              alert("Please select a Crop Year.");
              return false;
          }

          if (vcode == 0) {
              alert("Please select a Village.");
              return false;
          }

          if (searchParam == 1) {
              var surveyNo = document.getElementById("surveyno").value;
              var toSurveyNo = document.getElementById("tosurveyno").value;

              if (surveyNo.trim() == "") {
                  alert("Please enter From Whole Survey No.");
                  return false;
              }

             
          } else if (searchParam ==2) {
              var fromKhno = document.getElementById("fromKhno").value;
              var toKhno = document.getElementById("toKhno").value;

              if (fromKhno.trim() === "") {
                  alert("Please enter From Khata No.");
                  return false;
              }

     
          }

          return true;
      }
      setTimeout(function () {
    	     $('#popupMessage').hide();
    	 }, 4000);
</script> 
</head>
<body>

<!--	<div th:replace="home :: content"></div>-->
	
	<div class="container-fluid header-design-login">
		<div class="row justify-content-center align-items-center"
			style="height: 10vh;">
			<div class="webland-container">
				<div class="card ecropCard">

					<div class="card-title">
						<h5 style="text-align: center;">Selection Of Survey No's For Crop Booking</h3>
					</div>
			
			
          <div class="card-body" style="padding: 10px;">
				<form th:action="@{/getSurveyNoDetails}" method="post" onsubmit="return validateForm()">
                <div id="popupMessage" th:if="${msg != null}" class="alert alert-success" >
        <!-- Display the flash attribute 'msg' -->
        <p th:text="${msg}"></p>
          </div>
<!-- 					<h5>Selection Of Survey No's For Crop Booking</h5> -->
					
<!-- 					<br> -->
					<div class="form-group row">
						<label for="name" class="col-sm-6 col-form-label">Crop Year:<font color="red">*</font></label>
						<div class="col-sm-6">
						 <select id="crYear" name="crYear" class="form-select form-control" aria-label="Crop Year">
							<option value="0">-select crop year-</option>
							<option th:each="emp : ${activeseason}"
								th:value="${emp.seasonvalue}" th:text="${emp.cropyear}">
								</option>

						</select>
					</div>
					</div>
					<div class="form-group row">
						<label for="name" class="col-sm-6 col-form-label">Village <font color="red">*</font></label>
						<div class="col-sm-6">
						 <select id="vcode" name="vcode"
							class="form-select form-control" aria-label="Select Village"
							th:onchange="getVillageByRbk(this.value,'village')">
							<option value="0">-Select Village-</option>
							<option th:each="emp : ${rbk}" th:value="${emp.vcode}"
								th:text="${emp.wbvname}">Village Name</option>

						</select>
					</div>
					</div>

					<div class="form-group row">
						<label for="name" class="col-sm-6 col-form-label">Search By</label>
						<div class="col-sm-6">
						 <select id="searchParam"
							name="searchParam" class="form-select form-control" aria-label="Select param"
							th:onchange="show_hide_textfield()">
							<option value="1">Whole Survey No</option>
							<option value="2">Khata No</option>

						</select>
						</div>
					</div>



					<div id="tr_surveyno" class="form-group row">
						<label for="code" class="col-sm-6 col-form-label">From Whole Survey No<font color="red">*</font></label> 
						<div class="col-sm-6">
						<input type="text" id="surveyno" name="surveyno" >
					</div>
					</div>
					
					<div id="tr_tosurveyno" class="form-group row">
						<label for="name" class="col-sm-6 col-form-label">To Whole Survey No(Optional) </label> 
						<div class="col-sm-6">
						<input type="text" id="tosurveyno" name="tosurveyno" >
					</div>
					</div>
					
					<div id="tr_fkhno" class="form-group row">
						<label for="code" class="col-sm-6 col-form-label">From Khata <font color="red">*</font> </label>
						<div class="col-sm-6"> <input type="number"
							id="fromKhno" name="fromKhno" >
							</div>
					</div>
					
					<div id="tr_tokhno" class="form-group row">
						<label for="name" class="col-sm-6 col-form-label">To Khata (Optional)</label>
						<div  class="col-sm-6">
						 <input type="number" id="toKhno" name="toKhno" >
					</div>
					</div>
					
					
<!--              <button type="submit" class="btn btn-primary btn-block">SEARCH</button> -->
<!--                      <button type="button" class="btn btn-primary btn-block" -->

<!-- 						th:onclick="window.location.href='/home'">Back</button> -->
                          <div class="row">
								<div class="col-md-12">
									<div style="margin: 0 auto; width: 155px; color: #000;">
										<button type="submit" class="btn btn-primary" id="searchId"
											title="Search Allocation of Survey No Details">Search</button>
										<button type="button" class="btn btn-warning" id="resetId"
											th:onclick="window.location.href='home'">Back</button>
									</div>
								</div>
							</div>

				</form>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>